h1{
    text-align: center;
    padding-top: 40px;
}

#ujKaja{
    width: 600px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-top: 20px;
}

#kajaButton{
    text-align: center;
    padding-top: 25px;
}
#hibagomb{
    margin-top: 20px;
    border: solid red 3px;
    border-radius: 25px;
    text-transform: uppercase;
    background-color: aquamarine;
}

#mykajaTable{
    width: 600px;
    margin: 15px auto 0 auto;
    text-align: center;
}

#mykajaTable td{
    border-bottom: solid rgb(255, 102, 0) 1px;
}

#mykajaTable th{
    border-bottom: solid red 4px;
}